
.toolBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 5rem;
    height: 4.5rem;
    width: 100vw;
}

.toolBarColorsLight {
    background-color: #fff;
    color: hsl(207, 26%, 17%);
}

.toolBarColorsDark {
    background-color: 	#263238;
    color: #fff;
}
