<p>
  <mat-toolbar
  [ngClass]="mode ? 'toolBarColorsLight toolBar' : 'toolBarColorsDark toolBar'"
  >
  <span>Where in the world?</span>
  <div>
    <button
      *ngIf="mode; else elseBlock"
      mat-icon-button 
      matTooltip="Turn the dark mode on"
      aria-label="moon icon for dark mode"
      (click)="changeMode()"
      >
      <mat-icon>brightness_3</mat-icon>
    </button>
    <ng-template #elseBlock>
      <button
        mat-icon-button
        matTooltip="Turn the light mode on"
        aria-label="sun icon for light mode"
        (click)="changeMode()"
        >
        <mat-icon>brightness_low</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
</p>